/* --- Tipography --- */
@font-face {
  font-family: 'hero';
  src: url('/fonts/Hero/Hero.otf');
  src: url('/fonts/Hero/Hero.ttf');
  src: url('/fonts/Hero/Hero.eot');
  src: url('/fonts/Hero/Hero.eot?#iefix') format('embedded-opentype'), url('/fonts/Hero/Hero.woff') format('woff'), url('/fonts/Hero/Hero.ttf') format('truetype'), url('/fonts/Hero/Hero.svg#titulos') format('svg');
  font-weight: normal;
  font-style: normal;
}
.help-tooltip {
    cursor: help;
}
.flag-container {
    display: block;
    border: 1px solid black;
}
.flag-container .flag-icon {
    width: 100%;
    display: block;
    line-height: 12px;
}
.table-scroll {
    overflow: auto;
    width: 100%;
}
.table-scroll .table {
    margin: 0px;
}
.ps-container > .ps-scrollbar-y-rail,
.ps > .ps__rail-y {
    z-index: 1002;
}
body {
    font-family: hero,sans-serif;
    background-color: #004F71;
}
a, h2, h3, h4, li, button, label, #survey-title, #survey-subtitle {
    font-family: "hero";
    color: #ffffff;
}
p, ul li span {
    font-family: "hero";
    font-size: 15px;
    color: #d0d0d0;
}
p a {
    font-family: "hero";
    font-size: 15px;
    color: #ffffff;
}
label {
    margin-bottom: 6px;
}
.cc_banner-wrapper p {
    color: #4d4d4d;
}
.leaflet-container {
    font-family: hero,sans-serif !important;
}
.leaflet-control-container.force-disable a,
.leaflet-control-container.force-disable button,
.leaflet-control-container.force-disable input,
.leaflet-marker-icon.leaflet-interactive.force-disable,
.leaflet-image-layer.leaflet-interactive.force-disable,
.leaflet-pane > svg path.leaflet-interactive.force-disable {
    cursor: default !important;
    pointer-events: none;
}
.leaflet-marker-icon.marker-cluster-svg svg {
    overflow: visible;
}
.leaflet-control.force-disable,
.leaflet-control a.force-disable {
    cursor: not-allowed !important;
}
.leaflet-control.force-disable a {
    pointer-events: none;
    background-color: #bfbfbf;
    color: white;
}
.leaflet-control a.force-disable {
    background-color: #bfbfbf;
    cursor: not-allowed !important;
    color: white;
}
#map.disable-all > div:not(.spinner) {
    opacity: 0.4;
}
#header a:link,
#questions-wrapper a:link {
	text-decoration: none;
	color: white;
}
#header a:hover,
#header a:active,
#header a:focus,
#questions-wrapper a:hover,
#questions-wrapper a:active,
#questions-wrapper a:focus {
	color: #85A330;
}
/* --- General classes --- */
html, body {
    width: 100%;
    height: 100%;
}
textarea {
    resize: none;
}
li {
    list-style: none;
}
.img {
    border: 0px;
}
button > div.img-with-caption > img {
    width: 100%;
}
h2 small {
    color: #AAAAAA;
}
.btn {
    white-space: normal;
}
.btn-primary {
	background-color: #A2C73A;
	border: solid 1px #A2C73A;
}
.btn-primary,
.btn-primary span,
.btn-success,
.btn-success span {
    color: white !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary ,
.btn-primary:hover span,
.btn-primary:focus span,
.btn-primary:active span,
.open > .dropdown-toggle.btn-primary span {
	background-color: white !important;
	color: #A2C73A !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
	border: solid 1px #EBEBEB !important;
}
.btn-default, .btn-default:focus {
	color: #A2C73A;
	border: solid 1px #EBEBEB;
}
.btn-default:hover {
	color: #85A330;
	background-color: #FAFAFA;
	border: solid 1px #A2C73A;
}
.container-fluid {
    padding: 0px;
}
/* --- Page section --- */
body > div.container-fluid {
    height: calc(100% - 85px);
}
body > div.container-fluid.no-header {
    height: 100%;
}
body > div.container-fluid > div.row-fluid, body > div.container-fluid > div.row-fluid > div.col {
    height: 100%;
}
div.alert, div.alert a {
    font-family: Helvetica, Arial, sans-serif;
}
div.alert-warning a {
    color: brown;
}
div.alert-info a,
div.alert-danger a {
    color: darkblue;
}
#share-url-btn {
    margin-right: 5px;
}
.dropdown-menu.share-url {
	min-width: none;
    text-align: center;
	border: none;
	box-shadow: none;
	margin: 0;
    padding: 5px;
    background: rgba(150, 150, 150, 1);
    z-index: 11000;
    left: auto;
    right: 100%;
    top: 7px;
}
.dropdown-menu.share-url.addThis {
    min-width: 220px;
}
.dropdown-menu.share-url.addThis .addthis_inline_share_toolbox:not(:empty) ~ div {
    display: none;
}
.dropdown-menu.share-url.addThis .addthis_inline_share_toolbox:not(:empty) ~ div {
    display: none;
}
.dropdown-menu.share-url.addThis .more-sharing {
    background-color: #FFFFFF;
    margin-top: 5px;
    border-radius: 5px;
}
#header .dropdown-menu.share-url.addThis .more-sharing a,
.dropdown-menu.share-url.addThis .more-sharing a {
    color: #004F71;
}
#header .dropdown-menu.share-url.addThis .more-sharing a:hover,
#header .dropdown-menu.share-url.addThis .more-sharing a:focus,
#header .dropdown-menu.share-url.addThis .more-sharing a:active,
.dropdown-menu.share-url.addThis .more-sharing a:hover,
.dropdown-menu.share-url.addThis .more-sharing a:focus,
.dropdown-menu.share-url.addThis .more-sharing a:active {
    color: #85A330;
}
#more-sharing-modal h3 {
    color: #FFFFFF;
    text-align: center;
}
#more-sharing-modal p,
#more-sharing-modal li {
    color: #d0d0d0;
}
#more-sharing-modal li {
    list-style: disc outside none;
}
#more-sharing-modal .modal-dialog {
    margin-top: 100px;
}
#more-sharing-modal .modal-content {
    background-color: #004F71;
}
#more-sharing-modal .modal-content a {
    color: #FFFFFF;
}
#more-sharing-modal .modal-content a:hover,
#more-sharing-modal .modal-content a:focus,
#more-sharing-modal .modal-content a:active {
    color: #ADD8E6;
}
#more-sharing-modal .modal-header button {
    color: white;
}
#more-sharing-modal .modal-footer button {
    margin-bottom: 5px;
    margin-left: 0px;
}
.share-url-box {
	background-color: #A2C73A;
	border: solid 1px #A2C73A;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font-size: 0.9em !important;
	color: white !important;
	min-width: 220px;
    margin: 0 0 5px;
    padding: 0px 6px;
}
.share-url-box p::-moz-selection,
.share-url-box::-moz-selection,
.share-url-box textarea::-moz-selection {
	color: #85A330;
	background-color: white;
}
.share-sq {
    border: medium none;
    border-radius: 4px;
    padding: 3px 4px 1px;
    font-size: 2em;
    vertical-align: middle;
}
.share-url .share-sq {
    margin-right: 2px;
}
.btn-facebook,
.share-sq.fa-facebook {
    background: rgba(0, 0, 0, 0) linear-gradient(#4c69ba, #3b55a0) repeat scroll 0 0;
    color: white;
}
.btn-facebook:hover,
.btn-facebook:focus,
.share-sq.fa-facebook:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(#5b7bd5, #4864b1) repeat scroll 0 0;
    color: white;
}
.share-sq.fa-twitter {
    background-color: #1b95e0;
    color: white;
}
.share-sq.fa-twitter:hover {
    background-color: #48a7e1;
    color: white;
}
.share-sq.fa-linkedin-in {
    background-color: #0077b5;
    color: white;
}
.share-sq.fa-linkedin-in:hover {
    background-color: #2d86b6;
    color: white;
}
.btn-google,
.share-sq.fa-google-plus-g {
    background-color: #db4437;
    color: white;
    font-size: 1.4em;
    padding: 7px 4px 6px;
}
.btn-google:hover,
.btn-google:focus,
.share-sq.fa-google-plus-g:hover {
    background-color: #dc6d63;
    color: white;
}
.btn-facebook,
.btn-google {
    font-size: 1em;
    padding: 6px 9px;
    display: inline-block;
}
.btn-facebook .fab,
.btn-google .fab {
    font-size: 1.3em;
    display: table-cell;
    padding-right: 5px;
}
.btn-facebook span:not(.fab),
.btn-google span:not(.fab) {
    display: table-cell;
    line-height: 22px;
    vertical-align: middle;
}
#geoposwarn .modal-content, #geoposwarn .panel, #geoposwarn .panel-default > .panel-heading, #geoposresult .modal-content, #geolocatecurrentfailed .modal-content, #stats-modal .modal-content, #survey-resume .modal-content, #survey-info .modal-content {
    background-color: #004F71;
}
#geoposwarn .modal-content a:hover, #geoposresult .modal-content a:hover, #stats-modal .modal-content a:hover, #survey-resume .modal-content a:hover, #survey-info .modal-content a:hover,
#geoposwarn .modal-content a:focus, #geoposresult .modal-content a:focus, #stats-modal .modal-content a:focus, #survey-resume .modal-content a:focus, #survey-info .modal-content a:focus,
#geolocatecurrentfailed .modal-content a:hover, #geolocatecurrentfailed .modal-content a:focus {
    color: #ADD8E6;
}
#geoposwarn .modal-header button, #geoposresult .modal-header button, #geolocatecurrentfailed .modal-header button, #stats-modal .modal-header button, #survey-resume .modal-header button {
    color: white;
}
#geoposwarn .modal-body {
    padding-bottom: 0px;
}
#geoposwarn .modal-body .panel-body {
    padding-top: 10px;
    padding-bottom: 0px;
}
#geoposwarn .modal-body li p, #geoposwarn .modal-body li p a {
    font-size: 13px;
}
#geoposwarn .modal-footer button, #geoposresult .modal-footer button, #geolocatecurrentfailed .modal-footer button, #stats-modal .modal-footer button, #survey-resume .modal-footer button {
    margin-bottom: 5px;
    margin-left: 0px;
}
#geoposwarn p {
    text-align: justify;
}
#survey-info h4 {
    margin-bottom: 0px;
}
#survey-info span {
    color: #d0d0d0;
    font-size: 16px;
}
#survey-info .modal-body h4 {
    display: inline-block;
}
.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}
.panel-title > a, .panel-heading a::after {
    color: white;
    text-decoration: none;
}
#browser-loc-howto {
	margin-bottom: 15px;
}
#geoposresult p, #geoposresult h4 {
    display: none;
}
#geoposresult p, #geolocatecurrentfailed p {
    margin-bottom: 0px;
}
.progress-bar {
    background-color: #d0d0d0;
}
#waiting-location {
    margin-top: 20%;
    margin-top: 40vh;
}
#waiting-location h3, #waiting-location p {
    color: #575757;
}
#waiting-location .modal-content {
    padding: 0 2em 1em 2em;
}
#survey-resume table {
    margin-top: 15px;
    margin-bottom: 0px;
}
#survey-resume table h4 {
    font-size: 1.1em;
}
#header {
    height: 85px;
    overflow: hidden;
}
#header.no-header {
    display: none;
}
#header .navbar-header,
#header .navbar-right > * {
    overflow: hidden;
}
#header,
#header .navbar-right,
#header .navbar-right > .share-dropdown {
    overflow: visible;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #999;
}
.navbar-header {
    width: 100%;
    float: none !important;
    display: inline;
}
#header .navbar-header {
    margin-right: 0px;
    margin-left: 0px;
}
.navbar-brand {
    height: 100%;
    margin-right: 20px;
}
.navbar-brand img {
    height: 50px;
    width: 171px;
}
.navbar-right .btn {
    margin-top: 25px;
}
.title-container {
    vertical-align: middle;
    margin-top: 5px;
    line-height: 15px;
}
.title-container > div:first-child {
    padding-top: 14px;
    padding-bottom: 2px;
}
#survey-title {
    font-size: 1.8em;
    line-height: 25px;
    vertical-align: bottom;
    overflow: hidden;
}
#survey-title .glyphicon-info-sign {
    font-size: 0.7em;
}
#survey-subtitle {
    font-size: 17px;
    overflow: hidden;
}
.btn.disabled.edit-question-btn, .btn[disabled].edit-question-btn {
	pointer-events: none;
}
/* --- map-leaflet --- */
#map {
    width: 100%;
    background-color: #EBEBEB;
    height: 100%;
}
.leaflet-bar a.control-active {
    background-color: #e1e1e1;
}
.leaflet-bar.leaflet-control.no-shadow {
    box-shadow: none;
}
.leaflet-bar a > img {
    margin-top: 4px;
    line-height: 1;
    vertical-align: top;
}
.leaflet-control-layers-expanded span {
    color: black;
}
.leaflet-control-container .leaflet-top.leaflet-right .leaflet-control {
	clear: left;
}
.leaflet-control-container .leaflet-top.leaflet-right {
    min-width: 75px;
}
div.input-with-clear-btn {
    display: flex;
    align-items: center;
}
div.input-with-clear-btn input {
    flex: 1 1 auto;
}
div.input-with-clear-btn a.clear-input {
    margin-left: 5px;
    font-size: 20px;
    cursor: pointer;
}
div.input-with-clear-btn a.clear-input.disabled {
    flex: 0 0 auto;
    visibility: hidden;
}
div.upload-file-answer > div.flex-container {
    max-width: 600px;
    margin: auto;
}
div.upload-file-answer img.img-thumbnail {
    max-width: 50%;
    cursor: pointer;
}
div.upload-file-answer input[type="file"] {
    font-size: 15px;
    color: #A2C73A;
    width: 100%;
    text-align: center;
}
div.upload-file-answer .help-block {
    color: #D3D3D3;
}
div.upload-file-answer .has-error .help-block {
    font-weight: bold;
    font-size: 1.1em;
    color: #FF1A1A;
}
.form-control {
    font-size: 15px;
}
select.form-control:disabled {
    background-color: #D0D0D0;
}
input.form-control[type="radio"] {
    background-color: #333;
}
.views-control a {
    padding-top: 2px;
}
.dropdown-menu > li > a,
.dropdown-menu > li > a:hover {
    padding: 5px;
    width: inherit;
    height: inherit;
    text-align: left;
}
.dropdown-menu > li > a,
.dropdown-menu > li > a:hover,
.dropdown-menu.option a,
.dropdown-menu.option a:hover {
    line-height: 1.42857;
}
.question-selector {
    max-width: 600px;
}
.question-selector button span.selected,
.question-selector ul.dropdown-menu li a {
    white-space: normal;
    word-wrap: break-word;
}
.question-selector ul.dropdown-menu {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
.question-selector li.divider.dropdown-footer {
    margin: 2px 0;
}
.question-selector li.dropdown-header.dropdown-footer {
    padding: 0px 15px;
    line-height: 10px;
    font-style: italic;
    text-align: right;
}
.question-selector select {
    max-width: 150px;
}
.question-selector span.asterisk {
    font-family: serif;
    color: inherit;
}
.counters-control {
    padding: 5px 15px 5px 15px;
    background-color: #004F71;
    display: none;
}
.counters-control .clickable:hover {
    cursor: pointer;
}
.counters-control .clickable:hover h4 {
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}
.counters-control .clickable:hover p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.counters-control .glyphicon:empty {
    width: inherit;
}
#app-total-counter {
    max-width: 200px;
    min-width: 75px;
}
#app-total-counter-filter {
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    border: 1px solid gray;
    border-bottom-right-radius: 25px;
    cursor: help;
}
#app-total-counter-filter .glyphicon {
    font-size: 15px;
    padding: 3px 6px 6px 3px;
    color: indigo;
}
#app-total-counter-filter.disabled {
    pointer-events: none;
    opacity: 0.5;
}
#active-filters-tooltip {
    text-align: left;
}
#active-filters-tooltip ul {
    padding-left: 10px;
    margin-bottom: 0px;
}
#active-filters-tooltip ul li {
    list-style: disc;
}
#app-total-counter-list-container {
    max-height: 250px;
    overflow: hidden;
}
#app-total-counter-list {
    padding: 0px;
    list-style: none inside;
    overflow-x: hidden;
}
#app-total-counter span.usericon {
    padding-right: 5px;
}
#app-total-counter span.happy {
    color: #5cb85c;
}
#app-total-counter span.sad {
    margin-left: 10px;
    color: #d9534f;
}
#app-total-counter span span.glyphicon {
    margin-left: 5px;
}
#app-total-counter span img {
    margin-left: 2px;
}
#app-total-counter-list li button {
    background: none;
    text-align: left;
    display: inline-block;
    padding-left: 15px;
    width: 100%;
    white-space: inherit;
    border-radius: 0px;
}
#app-total-counter-list li:first-child button {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
#app-total-counter-list li:last-child button {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
#app-total-counter-list li:not(:last-child) button {
    border-bottom: none;
}
#app-total-counter-list li button:hover,
#app-total-counter-list li button.active:hover {
    background-color: #003A53;
}
#app-total-counter-list li button.active {
    background-color: #00293B;
}
#app-total-counter-list li button span {
    color: #d0d0d0;
    font-size: 15px;
    word-wrap: break-word;
}
#app-total-counter-list li button div.circle-container {
    position: absolute;
    margin-left: -11px;
    height: 20px;
}
#app-total-counter-list li button div.filter-btn-circle {
    position: absolute;
    top: 50%;
    height: 8px;
    width: 8px;
    margin-top: -3px;
}
.expand-btn {
    border-radius: 4px;
    padding: 0px;
    border: none;
    line-height: 7px;
    background: none;
    width: 33px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}
.expand-btn > .glyphicon {
    color: #f0f0f0;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    font-size: 38px;
    left: -15px;
    top: 15px;
}
.expand-btn > .glyphicon .glyphicon {
    font-size: 15px;
    position: absolute;
    top: auto;
    color: black;
}
.expand-btn .glyphicon .glyphicon-chevron-down {
    left: 12px;
    bottom: 13px;
}
.expand-btn .glyphicon .glyphicon-chevron-up {
    left: 12px;
    bottom: 17px;
}

.leaflet-control-geocoder {
    padding: 5px 15px 5px 15px;
}
.leaflet-control-geocoder,
.leaflet-control-geocoder-form input,
.leaflet-control-geocoder .selectize-control.single .selectize-input,
.leaflet-control-geocoder .selectize-control.single .selectize-input.input-active {
    background-color: #004F71;
}
.leaflet-control-geocoder-form input,
.leaflet-control-geocoder .selectize-control.single .selectize-input input,
.leaflet-control-geocoder .selectize-control.single .selectize-input.input-active input,
.leaflet-control-geocoder .selectize-control.single .selectize-input .item {
    color: #f0f0f0;
}
.leaflet-control-geocoder .selectize-control.single .selectize-input.input-active,
.leaflet-control-geocoder .selectize-control.single .selectize-input.focus {
    border-color: #ffffff;
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.75), 0 0 8px rgba(255, 255, 255, 0.6);
}
.leaflet-control-geocoder-select .selectize-dropdown-content {
    background-color: #004F71;
    color: #f0f0f0;
}
.selectize-dropdown .flag-item {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
}
.selectize-dropdown .flag-item .flag-container{
    margin-right: 10px;
}
.selectize-control .flag-item .flag-container {
    margin: 0px 10px -2px 0;
}
.selectize-dropdown .flag-item .selectize-label {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex: 1;
    flex-grow: 1;
}
.selectize-control .flag-item,
.selectize-control .flag-item .flag-container,
.selectize-control .flag-item .selectize-label {
    display: inline-block;
}

.leaflet-control-geocoder,
.leaflet-control-geocoder label {
    color: #f0f0f0;
    font-size: 15px;
    font-family: hero,sans-serif;
}
.selectize-control.single .selectize-input::after {
    border-color: #ffffff transparent transparent transparent;
}
.selectize-control.single .selectize-input.dropdown-active::after {
    border-color: transparent transparent #ffffff transparent;
}

.leaflet-control-geocoder .leaflet-control-geocoder-alternatives {
    margin-top: 5px;
}

.leaflet-control-geocoder-form-no-error,
.leaflet-control-geocoder .leaflet-control-geocoder-alternatives a {
    color: #ffffff;
}

.leaflet-control-geocoder .leaflet-control-geocoder-alternatives .leaflet-control-geocoder-address-context {
    color: #999999;
}

.leaflet-control-geocoder .leaflet-control-geocoder-alternatives li:hover a,
.leaflet-control-geocoder .leaflet-control-geocoder-alternatives li:active a,
.leaflet-control-geocoder .leaflet-control-geocoder-alternatives li:focus a {
    color: #000000;
}

.leaflet-control-geocoder .leaflet-control-geocoder-alternatives li:hover a > span,
.leaflet-control-geocoder .leaflet-control-geocoder-alternatives li:active a > span,
.leaflet-control-geocoder .leaflet-control-geocoder-alternatives li:focus a > span {
    color: #333333;
}

.leaflet-control-geocoder .leaflet-control-geocoder-alternatives li:hover .leaflet-control-geocoder-address-context,
.leaflet-control-geocoder .leaflet-control-geocoder-alternatives li:active .leaflet-control-geocoder-address-context,
.leaflet-control-geocoder .leaflet-control-geocoder-alternatives li:focus .leaflet-control-geocoder-address-context {
    color: #666666;
}

.leaflet-control-geocoder-form {
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
}

.leaflet-control-geocoder-form input {
    padding: 2px 5px;
    border-radius: 5px;
}

.leaflet-bar:not(.time-control) .tooltip-arrow {
    border-right-color: #004F71 !important;
}
.leaflet-touch .leaflet-bar.time-control {
    border: none;
}
.map .tooltip-inner {
    background-color: #004F71;
    min-width: 100px;
}
.time-control .tooltip-arrow {
    border-top-color: #004F71 !important;
}
.time-control .tooltip {
    padding-top: 0;
}
.time-control .ui-slider-handle {
    outline: none;
}
.time-control .ui-slider-handle .tooltip {
    margin-left: 50%;
    transform: translateX(-50%);
    left: 0 !important;
}
.time-control .tooltip-inner {
    white-space: nowrap;
}
.time-control .tooltip-inner:hover {
    cursor: default !important;
}
.map.mode-drawing {
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAsElEQVQ4jd3RPY5BYRQG4KfWkCimmU4iUbIKq1CNVRA1PQm2oh0aK5jR0QlL8FPc7yY3aL7vTjFxkrc8T84P71Q97DEqC33hilvIOBWqYV6A8kxioT6OaGP5AmzGQFescArgogD9ohIDzbAJzWd0ZCvv8JkK5TmHCeux0NrzjaInmuL730AX2cd+ykDCREM0cCgDCU0DtB7AaCjHbrJ7VbFNhYpY8mrF6j7kIxX6k7oDSChZ4yS1jeYAAAAASUVORK5CYII=") 0 17, auto;
}
.draw-tooltip .tooltip-inner {
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 200px;
}
ul.leaflet-button-actions {
    position: absolute;
    left: 10px;
    list-style: none;
    white-space: nowrap;
    padding: 0;
    display: none;
}
.leaflet-touch ul.leaflet-button-actions {
    left: 30px;
}
ul.leaflet-button-actions li {
    display: inline-block;
}
.leaflet-touch .leaflet-bar ul.leaflet-button-actions li a {
    border-radius: 0px;
}
ul.leaflet-button-actions li a,
ul.leaflet-button-actions li a:hover {
    box-sizing: content-box;
    background-color: #919187;
    border-left: 1px solid #AAA;
    color: #FFF;
    font: 11px/28px "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 0 10px;
    height: 28px;
    display: table-cell;
    text-align: center;
    text-decoration: none;
}
.leaflet-touch ul.leaflet-button-actions li a {
    font-size: 12px;
    line-height: 30px;
    height: 30px;
}
ul.leaflet-button-actions li a:hover {
    background-color: #A0A098;
    color: #FFF;
}
.leaflet-touch .leaflet-bar ul.leaflet-button-actions li:last-child a,
ul.leaflet-button-actions li:last-child a {
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
ul.leaflet-button-actions li:first-child a {
    border-left: none;
}
.leaflet-popup h4, .leaflet-popup h5, .leaflet-popup p {
    color: #8f999f;
}
.leaflet-popup-content-wrapper {
    border-radius: 0px;
}
.popup-aggregated .popup-aggregated-header {
    margin-top: 0px;
    font-size: 14px;
}
.popup-aggregated .popup-aggregated-superheader {
    font-size: 12px;
    margin-bottom: 2px;
    font-style: italic;
}
.popup-aggregated .popup-aggregated-supersuperheader {
    font-weight: bold;
}
.popup-aggregated .popup-aggregated-result label,
.popup-aggregated .popup-aggregated-result span {
    color: #333;
    font-size: 11px;
    font-weight: 400;
}
.popup-aggregated .popup-aggregated-result label {
    margin-right: 4px;
    margin-bottom: 0px;
}
.popup-responses ul.user-answers-list {
    padding-left: 0px;
    margin-bottom: 0px;
}
.popup-responses ul.user-answers-list li label {
    color: black;
    margin-right: 5px;
    margin-bottom: 0px;
    display: inline;
}
.popup-responses ul.user-answers-list li:not(:first-child) {
    margin-top: 5px;
}
.popup-responses ul.user-answers-list li span {
    color: black;
    font-size: 12px;
}
.popup-responses ul.user-answers-list li {
    list-style: disc inside none;
    color: black;
}
.popup-responses div.survey-answer-img {
    text-align: center;
    display: block;
    width: 100%;
    margin: 5px 0;
}
.popup-responses div.survey-answer-img img {
    max-width: 285px !important;
    border: 3px double black;
}
.leaflet-popup-content hr {
    margin-bottom: 3px;
    margin-top: 3px;
}
#popup-form {
    display: none;
}
.popup-questions label {
    color: #8f999f;
}
.popup-status-happy .leaflet-popup-content-wrapper {
    border-bottom: 6px solid #5cb85c;
}
.popup-status-happy .leaflet-popup-tip {
    background: #5cb85c;
}
.popup-status-sad .leaflet-popup-content-wrapper {
    border-bottom: 6px solid #d9534f;
}
.popup-status-sad .leaflet-popup-tip {
    background: #d9534f;
}
.popup-user .leaflet-popup-content-wrapper {
    box-shadow: none;
    padding: 10px;
    margin-bottom: -6px;
    min-width: 275px;
    min-height: 250px;
}
.popup-user .leaflet-popup-content label {
    color: #575757;
    font-weight: 500;
    font-size: 15px;
}
.popup-user .leaflet-popup-content input {
    font-size: 15px;
}
.popup-user .leaflet-popup-tip-container div {
    display: none;
}
.popup-userinfo .leaflet-popup-content-wrapper {
    padding: 1px;
    min-width: 0px;
    min-height: 0px;
}
.popup-userinfo button {
    margin: 10px 0 0 0;
}
.popup-user-happy .leaflet-popup-content-wrapper {
    border-bottom: 6px solid #5cb85c;
}
.popup-user-sad .leaflet-popup-content-wrapper {
    border-bottom: 6px solid #d9534f;
}
.popup-responses .leaflet-popup-content,
.popup-aggregated .leaflet-popup-content {
    max-height: 300px;
    overflow-y: auto;
}
#countries-select {
    padding-left: 25px;
}
select#sex-select {
    padding-left: 16px;
}
select#sex-select.fem {
    background: url('../images/fem.png') no-repeat 1px 5px;
}
select#sex-select.mas {
    background: url('../images/mas.png') no-repeat 2px 4px;
}
/* ------------------- */
#questions-wrapper, #thanks-msg {
    width: 100%;
    padding: 0em 4em;
    background-color: #004F71;
    z-index: 1001;
}
div.row-fluid > div.col {
    position: relative;
}
div.col > #questions-wrapper,
div.col > #thanks-msg {
    position: absolute;
    margin-top: -25%;
    margin-top: -70vh;
}
#questions-flex-container {
    width: 100%;
    height: 100%;
    display: block;
    display: flex;
    position: absolute;
    top: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 1001;
}
#questions-flex-container > #questions-wrapper {
    margin: auto;
    width: 100%;
    padding: 0em 4em;
    background-color: #004F71;
}
#questions-wrapper h2, #thanks-msg h2 {
    color: white;
}
.questions-section div:not(.other-answer):not(.tooltip-arrow):not(.selectize-input) {
    padding: 5px 5px;
}
.questions-section p {
    padding-top: 6px;
}
.question {
    display: none;
    margin-bottom: 30px;
}
.edit-question-btn {
    width: 40px;
    padding: 5px;
    border-color: none;
}
.edit-question-btn:not(.btn-success) {
    background-color: #d6d6d6;
}
.edit-question-btn:not(.btn-success):hover,
.edit-question-btn:not(.btn-success):focus,
.edit-question-btn:not(.btn-success):active {
    background-color: #a3a3a3;
}
#return-to-survey {
    margin-top: 20px;
}
#return-to-survey button {
    font-size: 0.8em;
    padding: 5px 7px;
}
/*
.btn-info {
    border-color: #51595e;
    background-color: #979797;
}
.btn-info:hover, .btn-info:focus {
    background-color: #8f999f;
    border-color: #d0d0d0;
}
*/
.survey-vote {
    padding: 20px;
}
.survey-vote select {
    margin-bottom: 10px;
}
.ui-slider-handle {
    border-radius: 12px;
}
.ui-slider-handle:hover {
    cursor: pointer;
}
.ui-slider-range {
    background: #979797;
}
#slider .ui-state-default, #slider .ui-state-active {
    border: 1px solid #d0d0d0;
}
#slider .ui-state-hover {
    border: 1px solid #8f999f;
    background: #F2F1F0;
}
#slider .ui-state-focus {
    background: #F2F1F0;
}
.votebtns {
    color: #8f999f;
}
.votebtns:hover {
    color: #575757;
}
.survey-answer {
    padding: 6px 16px;
}
.survey-answer > div.flex-container {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0;
}
button.survey-answer > div.flex-container {
    justify-content: start;
}
.other-answer {
    background-color: #d5d1ce;
    cursor: default;
}
.text-answer {
    text-align: center;
}
.other-answer input,
.text-answer input,
.text-answer textarea,
.upload-file-answer div.flex-container > div {
    color: black;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex: 1;
    flex-grow: 1;
    margin-right: 10px;
    min-width: 0px;
    padding: 0 5px;
}
.text-answer .footer {
    margin: 0;
    font-style: italic;
    color: lightgrey;
    padding-right: 55px;
}
.text-answer input {
    max-width: 700px;
}
.text-answer textarea {
    min-width: 250px;
    max-width: 500px;
    height: 100px;
}
.upload-file-answer div.flex-container > div input[type="file"] {
    margin: auto;
}
.other-answer .answer-img {
    align-self: center;
}
.survey-answer.explanatory-text p {
    padding: 5px 10px;
    border-radius: 8px;
    display: inline-block;
    background-color: white;
    font-size: 18px;
    color: #004f71;
}
#questions-wrapper .survey-answer.explanatory-text p > a {
    font-size: 18px;
    color: #800080;
}
#questions-wrapper .survey-answer.explanatory-text p > a:hover,
#questions-wrapper .survey-answer.explanatory-text p > a:active,
#questions-wrapper .survey-answer.explanatory-text p > a:focus {
    color: #ff00ff;
}
.listbtns .survey-answer.outlined-text {
    background-color: lightgray;
    color: #000;
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF
}
.listbtns .survey-answer {
    border-color: dimgrey;
    border-width: 4px;
}
.listbtns .survey-answer.outlined-text:hover, .listbtns .survey-answer.outlined-text:focus, .listbtns .survey-answer.outlined-text.active {
    color: #FFF !important;
    border-color: dimgrey !important;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.listbtns .survey-answer:hover, .listbtns .survey-answer:focus, .listbtns .survey-answer:active, .listbtns .survey-answer.active {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5) inset;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.rowbtns .survey-answer.outlined-text {
    background-color: lightgray;
    color: #FFF;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.rowbtns .survey-answer {
    border-color: dimgrey;
    border-width: 4px;
}
.rowbtns .survey-answer.outlined-text:hover,
.rowbtns .survey-answer.outlined-text:active, .rowbtns .survey-answer.outlined-text.active {
    color: #000 !important;
    border-color: dimgrey !important;
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}
.rowbtns .survey-answer:hover,
.rowbtns .survey-answer:active, .rowbtns .survey-answer.active {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5) inset;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    opacity: 0.9;
}
.listbtns .survey-answer .answer-img {
    float: left;
    margin-right: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 110px;
    height: 110px;
    flex-shrink: 0;
}
.listbtns button.survey-answer {
    background-color: #d6d6d6;
}
.listbtns button.survey-answer:hover {
    background-color: #b5b5b5;
}
.listbtns > div > .btn {
    white-space: normal;
}
.listbtns span {
    float: left;
    word-wrap: break-word;
}
.vote-check label, .vote-radio label {
    font-size: large;
}
.main-question button img {
    max-width: 250px;
    max-height: 250px;
    height: auto;
    width: auto;
}
.check-loc {
    width: 100%;
    padding: 1em 2em;
    background-color: #004F71;
    position: absolute;
    z-index: 1001;
    margin-top: -15%;
    margin-top: -30vh;
}
.check-loc h2 {
    margin-top: 5px;
}
.check-loc label {
    margin-bottom: 0;
}
.check-loc .loc-description-text {
    color: white;
}
.check-loc .loc-description label {
    margin-right: 5px;
}
#edit-question-btn {
    margin: 20px 0;
}
#block-nav-btns, #survey-nav-btns, #section-nav-btns {
    margin: 0;
    padding: 10px 0;
}
#block-nav-btns button {
    opacity: 1;
}
#end-survey-opt button {
    margin-bottom: 10px;
}
#check-edit-loc {
    width: 100%;
    height: 0px;
    margin-top: -10%;
    margin-top: -20px;
    position: absolute;
    z-index: 1001;
}
#check-edit-loc button {
    margin-top: -20vh;
}
#close-btn {
    font-size: 30px;
    margin: -20px -42px 0 0;
}
.rowbtns {
    margin-top: 40px;
}
.rowbtns div {
    padding: 5px;
}
.img-with-caption {
    display:table;
}
.img-with-caption > .img-caption {
    display:table-caption;
    caption-side:bottom;
    white-space: normal;
}
.featurette p {
    color: #b3b3b3;
}
.leaflet-sidebar .btn-group,
.leaflet-sidebar input {
    margin-bottom: 15px;
}
.leaflet-sidebar > .leaflet-control {
	background-color: #FAFAFA !important;
}
.leaflet-sidebar .btn-group button {
	background-color: #A2C73A;
    color: white;
}
#closesidebarLocator button {
    background-color: #A2C73A;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    float: left;
    height: 40px;
    width: 37px;
    line-height: normal;
    margin-left: -40px;
    padding-bottom: 5px;
    padding-left: 3px;
    position: absolute;
    top: 50%;
}
#closesidebarLocator button > .glyphicon {
    margin-top: 6px;
       margin-left: 12px;
}
#sidebarPanel {
    display: flex;
    flex-flow: column;
    overflow: hidden;
}
#sidebarPanel #titlesidebarPanel {
    flex: 0 0;
    width: 100%;
    text-align: left;
}
#sidebarPanel #indivData {
    flex: 1 1;
    padding-right: 5px;
    width: 100%;
    overflow-y: auto;
}
#sidebarPanel #indivData ul.user-answers-list {
    padding-left: 0px;
}
#sidebarPanel #indivData ul.user-answers-list li label {
    color: black;
    margin-right: 5px;
    margin-bottom: 0px;
    display: inline;
}
#sidebarPanel #indivData ul.user-answers-list li:not(:first-child) {
    margin-top: 15px;
}
#sidebarPanel #indivData ul.user-answers-list li span {
    color: black;
    font-size: 12px;
    text-indent: 11px;
    text-align: justify;
    display: inline-block;
}
#sidebarPanel #indivData ul.user-answers-list li {
    list-style: disc inside none;
    color: black;
}
#sidebarPanel #indivData div.survey-answer-img {
    text-align: center;
    display: block;
    width: 100%;
    margin: 5px 0;
}
#sidebarPanel #indivData div.survey-answer-img img {
    max-width: 100% !important;
    border: 3px double black;
}
#sidebarPanel #navContainer {
    flex: 0 0;
    text-align: center;
    margin-top: 10px;
}
#sidebarPanel #navContainer button {
    margin: 3px;
}
#sidebarPanel #navContainer label{
    color: black;
    margin-right: 3px;
}
#sidebarPanel #closesidebarPanel button {
    background-color: #A2C73A;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    float: left;
    height: 40px;
    width: 37px;
    line-height: normal;
    margin-left: -40px;
    padding-bottom: 5px;
    padding-left: 3px;
    position: absolute;
    top: 50%;
}
#sidebarPanel #closesidebarPanel button > .glyphicon {
    margin-top: 5px;
    margin-left: 12px;
}
#sidebarPanel #CurrentFeatureNumber {
    text-align: right;
    margin-right: 3px;
    font-weight: bold;
    width: auto;
    margin-bottom: 0;
}
.leaflet-sidebar .search-countries {
    background-color: #DDD;
    border-color: #DDD;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.leaflet-sidebar table {
    margin-top: 15px;
}
.leaflet-sidebar tbody tr {
    border-bottom: 1px solid #F2F1F0;
}
.leaflet-sidebar tbody tr:hover {
    cursor: pointer;
    background-color: #F2F1F0;
}
.leaflet-sidebar td,
.leaflet-sidebar th {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle !important;
    font-weight: normal;
}
.text-center th {
    text-align: center;
}
.leaflet-sidebar td img {
    margin: 2px 0 0 -5px;
    border: 1px solid #DDD;
}
.leaflet-sidebar .close {
    right: 40px;
}
.leaflet-sidebar h3 {
    color: #004F71;
}
.leaflet-sidebar .happy-percent {
    color: #5cb85c;
    font-weight: bold;
}
.leaflet-sidebar .label {
    font-size: 80%;
    min-width: 32px;
    min-height: 16px;
    padding: 0.3em 0.6em 0.2em;
}
.leaflet-sidebar #voted_countries,
.leaflet-sidebar #all_countries {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.leaflet-sidebar #voted_countries > div:last-child,
.leaflet-sidebar #all_countries > div:last-child {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex: 1;
    flex-grow: 1;
}
.leaflet-sidebar #voted_countries .floatThead-wrapper {
    height: 100%;
}
.leaflet-sidebar #voted_countries .table-scroll {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
}
.leaflet-sidebar #voted_countries > div:last-child,
.leaflet-sidebar #all_countries > div:last-child {
    position: relative;
}
.leaflet-sidebar #voted_countries table tbody tr {
    border-bottom: none !important;
}
.leaflet-sidebar #voted_countries table thead tr th {
    border-bottom: 3px double #dddddd;
    background-color: #ffffff;
    font-weight: bold;
}
.leaflet-sidebar #voted_countries table tbody tr:first-child td {
    border-bottom: 3px double #dddddd;
    font-weight: bold;
}
.leaflet-sidebar table tbody td.country-flag {
    width: 25px;
    padding: 0px;
}
.leaflet-sidebar #voted_countries table {
    font-size: 14px;
}
.leaflet-sidebar #voted_countries table tbody tr:not(.stats-country-totals) {
    font-size: 15px;
}
.leaflet-sidebar #voted_countries table tbody tr.province td {
    padding: 4px;
}
.leaflet-sidebar #voted_countries table tbody tr.municipality td {
    padding: 2px;
}
.leaflet-sidebar #voted_countries table tbody tr.province td {
    font-size: 13px;
}
.leaflet-sidebar #voted_countries table tbody tr.stats-country-totals td div.province-count {
    font-size: 0.8em;
}
.leaflet-sidebar #voted_countries table tbody tr.municipality td {
    font-size: 11px;
}
.leaflet-sidebar #all_countries table tbody tr:first-child td {
    border-top-width: 0px;
}
.leaflet-sidebar #all_countries table tbody tr td:last-child {
    width: 40px;
}
.flag-container {
    height: 14px;
    width: 18px;
    margin: auto;
}
.leaflet-control-layers label span {
	vertical-align: text-bottom;
}
/* Fix a small problem with popup messages over leaflet buttons */
.leaflet-bar a:last-of-type {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: none;
}
.modal-body .row {
    padding: 10px;
}
#stats-modal .modal-dialog {
    max-width: 350px;
}
.dc-chart g.axis text {
    fill: white;
}
.dc-chart .axis path, .dc-chart .axis line {
    stroke: white;
}
.dc-chart text.pie-slice,
.dc-chart g.row text {
	stroke-width: 0.7;
	stroke: #000000;
	fill: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	font-family: "Arial Black", Gadget, sans-serif;
}
.dc-chart g.row rect {
	fill-opacity: 1;
}
.dc-chart g.row rect:hover {
	fill-opacity: .8;
}
.dc-legend-item {
    font-size: 14px;
    fill: white;
}
#vote-chart.dc-chart {
    float: none;
}
#vote-chart > p,
#vote-chart > #chart-buttons {
    text-align: center;
}
#vote-chart > svg {
    display: block;
    margin: auto;
}
#vote-chart-clear {
    padding-left: 15px;
}
#chart-type-btn {
    margin-left: 10px;
}
#time-control {
    width: 50vw;
    min-width: 50px;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}
#time-control .ui-slider {
    width: 100%;
    margin: 10px 10px 0px;
}
#time-scale {
    width: 100px;
}
#time-scale .dropdown-menu, #time-scale .dropdown-toggle {
    min-width: 85px;
}
#time-scale .dropdown-toggle {
    text-align: right;
}
#time-scale .btn {
    padding: 3px 6px;
}
.circle-icon {
    background: none;
    border: none;
}
.svg-marker {
    background: none;
    border: none;
    width: 38px;
    height: 45px;
}
.svg-marker-icon {
    text-align: center;
}
.svg-marker-icon .glyphicon {
    font-size: 16px;
}
.filter-btn-circle {
    width: 1em;
    height: 1em;
    border-radius: 100%;
    border: 1px solid black;
}

/* --- Styles for small screen devices --- */

.show-small {
    display: none;
}

@media screen and (max-width: 599px), screen and (max-height: 639px) {
    .navbar-brand {
        padding: 5px;
        height: 35px;
        margin-right: 5px;
        margin-top: 15px;
    }
    .navbar-brand img {
        height: 35px;
        width: 120px;
    }
    #survey-title {
        font-size: 16px;
        line-height: 21px;
    }
    #survey-subtitle {
        font-size: 13px;
    }
    .check-loc {
        margin-top: -40vh;
    }
    /* Make the votes list smaller */
    #app-total-counter {
        max-width: 150px;
    }
    #app-total-counter-list-container {
        max-height: 100px;
    }
    #app-total-counter-list li span {
        font-size: 9px;
    }
    .hide-small {
        display: none;
    }
    .show-small {
        display: inherit;
    }
    .leaflet-popup-content {
        max-width: 200px;
    }
    .popup-responses .leaflet-popup-content,
    .popup-aggregated .leaflet-popup-content {
        max-height: 200px;
    }
    .navbar-right button {
        margin-top: 11px;
    }
    .main-question button img {
        max-width: 150px;
    }
    .listbtns .survey-answer .answer-img {
        margin-right: 10px;
    }
}

/* --- Styles for NOT very small screen devices --- */
@media screen and (min-width: 361px) and (min-height: 551px) {
    .always-show-not-extrasmall {
        display: inherit !important;
    }
    .always-show-not-extrasmall.collapse {
        height: auto !important;
    }
}

/* --- Styles for very small screen devices --- */

.show-extrasmall {
    display: none;
}

@media screen and (max-width: 360px), screen and (max-height: 550px) {
    #header {
        height: 60px;
    }
    .title-container > div:first-child {
        padding-top: 7px;
    }
    #header div.navbar-right {
        width: 30px;
    }
    #header div.navbar-right > button {
        margin: 5px 0px 0px;
        right: 0;
    }
    #header div.navbar-right > div.dropdown:not(:first-child) {
        right: 0;
    }
    #header div.navbar-right > div.dropdown:not(:first-child) button {
        margin: 4px 0px 0px;
    }
    #header div.navbar-right > div.dropdown:first-child button {
        margin: 18px 0px 0px;
    }
    .navbar-brand {
        margin-top: 0px;
    }
    body > div.container-fluid {
        height: calc(100% - 60px);
    }
    #survey-title {
        font-size: 11px;
        line-height: 14px;
    }
    #survey-subtitle {
        font-size: 9px;
    }
    .check-loc h2 {
        font-size: 24px;
    }
    .share-sq {
        font-size: 3em;
        padding-bottom: 3px;
    }
    .share-sq.fa-google-plus-g {
        font-size: 2.1em;
        padding: 10px 4px 9px;
    }
    .dropdown-menu.share-url {
        position: fixed;
        right: 50%;
        top: 50%;
        -ms-transform: translate(50%, -50%);/* IE 9 */
        -webkit-transform: translate(50%, -50%); /* Chrome, Safari, Opera */
        transform: translate(50%, -50%);
        padding: 20px;
    }
    .dropdown-menu.share-url input.share-url-box {
        margin-bottom: 20px;
    }
    .dropdown-menu.share-url.addThis .more-sharing {
        margin-top: 20px;
    }
    #questions-flex-container > #questions-wrapper, #questions-wrapper, #thanks-msg {
        padding: 0 1em;
    }
    .question-selector select {
        max-width: 100px;
    }
    .show-extrasmall {
        display: inherit;
    }
    .hide-extrasmall {
        display: none;
    }
    .leaflet-popup-content {
        max-width: 150px;
    }
    .popup-responses .leaflet-popup-content,
    .popup-aggregated .leaflet-popup-content {
        max-height: 100px;
    }
    .btn-responsive {
        padding: 4px 6px;
        font-size: 80%;
        line-height: 1;
    }
    .navbar-right {
        margin-right: -5px;
    }
    .navbar-right button {
        margin-top: 16px;
    }
    .main-question button img {
        max-width: 100px;
    }
    .listbtns .survey-answer .answer-img {
        margin-right: 5px;
        height: 80px;
        width: 80px;
    }
    .survey-answer {
        padding: 6px 10px;
    }
    .survey-answer.explanatory-text p {
        font-size: 16px;
    }
    .leaflet-sidebar #voted_countries table td:not(.show-provinces),
    .leaflet-sidebar #voted_countries table th,
    .leaflet-sidebar #all_countries table td {
        padding: 4px;
    }
}

/* Bootstrap sizes compliant hiding classes */

.hidden-xs-up {
    display: none;
}

@media screen and (max-width: 767px) {
    .hidden-xs-down {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .hidden-sm-up {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .hidden-sm-down {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .hidden-md-up {
        display: none;
    }
}

@media screen and (max-width: 1199px) {
    .hidden-md-down {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .hidden-lg-up {
        display: none;
    }
}

.hidden-lg-down {
    display: none;
}

/* --- Webkit specific styles --- */

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #app-total-counter {
        max-width: 220px;
        min-width: 95px;
    }
}

.always-hide-important {
    display: none !important;
}
