/* ---------------------
Colors
Tipography
GLOBAL
Forms
Intro-Index
Navbar
Contents
Know-more & About
Survey Lists
Profile
Dashboard
New-Survey
Login
Legal
Pagination
Footer-Contacts
--------------------- */


/* --- Colors --- */
/*
blue:	#004F71
green:	#A2C73A
green-dark:	#85A330
green-dark-links:	#607523
grey-light:	#FAFAFA
grey-light-links:	#F0F0F0
grey-bkgrnd:	#EBEBEB
grey-dark:	#4D4D4D
red #CC1A1A
red-danger:  #A94442
orange-warn: #CC9F03
(white)
*/


/* --- Tipography --- */
@font-face {
  font-family: 'hero';
  src: url('/fonts/Hero/Hero.otf');
  src: url('/fonts/Hero/Hero.ttf');
  src: url('/fonts/Hero/Hero.eot');
  src: url('/fonts/Hero/Hero.eot?#iefix') format('embedded-opentype'), url('/fonts/Hero/Hero.woff') format('woff'), url('/fonts/Hero/Hero.ttf') format('truetype'), url('/fonts/Hero/Hero.svg#titulos') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	font-size: 1.7em;
}

a, p, li, h1, h2, h3, h4, h5, h6, form, input, .form-horizontal {
	font-family: "hero";
	color: #004F71;
}

textarea {
   resize: none;
}

label, button {
	font-family: "hero";
}

p, li {
	color: #4D4D4D;
}

a:link:not(.btn) {
	color: #85A330;
}

a:active, a:focus {
	outline: none;
	color: #4D4D4D;
}

a:hover {
    text-decoration: none;
    color: #A2C73A;
}

a[data-toggle="collapse"] {
    cursor: pointer;
}

h1, h2,
.jumbotron h1, .jumbotron h2 {
	color: #A2C73A;
	margin-top: 2em;
	margin-bottom: 1em;
}

.jumbotron h1 {
    font-size: 40px;
}


/* --- GLOBAL --- */
html, body {
	height: 100%;
	background-color: #EBEBEB;
}

hr {
	border-color: #FAFAFA;
}

li {
    list-style: none;
}

.img {
    border: 0px;
}

input.form-control[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin: auto;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:focus.btn-primary:active,
.dropdown-toggle.btn-primary,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:focus.dropdown-toggle.btn-primary:active {
	background-color: #A2C73A;
	border: solid 1px #A2C73A;
}

.btn-primary:hover,
.btn-primary:hover.btn-primary:active,
.open > .dropdown-toggle.btn-primary:hover.dropdown-toggle.btn-primary:active,
.open > .dropdown-toggle.btn-primary:hover {
	background-color: white;
	color: #A2C73A;
	border: solid 1px #EBEBEB;
}

.btn-primary.disabled,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover {
	background-color: #FAFAFA;
	border: solid 1px #A2C73A;
	color: #A2C73A;
}

.btn-default, .btn-default:focus {
	color: #A2C73A;
	border: solid 1px #EBEBEB;
}
.btn-default:hover {
	color: #85A330;
	background-color: #FAFAFA;
	border: solid 1px #A2C73A;
}

.btn.sp-disabled,
.btn.sp-disabled:active {
	background-color: #eee;
    border: 1px solid #ebebeb;
    color: #a2c73a;
    opacity: 1;
    cursor: not-allowed;
    box-shadow: none;
}

.btn-close {
	color: #D9534F;
}

.btn-close:hover,
.btn-default:focus.btn-close {
	color: #C24A47;
	border-color: #C24A47;
}

.glyphicon {
	margin-top: 5px;
}

.glyphicon-send {
	margin-left: -5px;
	padding-left: 3px;
}

.alert {
	font-family: "hero";
	top: 70px !important;
	z-index: 10000 !important;
}

.has-error .checkbox, .has-error .checkbox-inline,
.has-error .control-label, .has-error .help-block,
.has-error .radio, .has-error .radio-inline,
.has-error.checkbox label, .has-error.checkbox-inline label,
.has-error.radio label, .has-error.radio-inline label,
.has-error li {
    color: #A94442 !important;
}

.help-tooltip {
	cursor: help;
}

.help-block, .help-block li {
    font-size: 0.9em;
    margin-top: 5px;
}

.help-block.with-errors {
    display: inline-block;
}

.help-block.with-errors,
.help-block.with-errors ul,
.help-block.with-errors ul > li {
    margin-top: 0px;
}

.help-block.with-errors ul > li {
    color: #A94442;
}

div.alert, div.alert a {
    font-family: Helvetica, Arial, sans-serif;
}

div.alert-warning a {
    color: brown;
}

div.alert-info a,
div.alert-danger a {
    color: darkblue;
}

ul.circle li {
    list-style-type: circle;
}
.flag-container {
    display: inline;
    display: flex;
    border: 1px solid black;
}
.flag-container .flag-icon {
    width: 100%;
}
.navbar-nav > li > a.navbar-btn {
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
}
form#survey-form input[type="text"],
form#survey-form textarea {
    margin-bottom: 0px;
    margin-top: 10px;
}
form#survey-form #questions-section input,
form#survey-form #questions-section textarea {
    margin-top: 0px;
}
form#survey-form .with-errors {
    margin-bottom: 0px;
}
.form-horizontal .form-checkbox-line {
    width: 100%;
    display: inline-block;
    padding-left: 5px;
    margin-top: 10px;
}
.form-horizontal .form-checkbox-line .form-field-help {
    vertical-align: top;
}
.form-horizontal .form-field-help {
    margin-top: 10px;
}
.form-horizontal .form-checkbox-line .form-field-help.glyphicon {
    margin-top: 0px;
}
.form-horizontal .form-checkbox-line input[type="checkbox"] {
    margin-top: 1px;
}
.form-horizontal .form-checkbox-line label {
	padding-top: 0 !important;
    vertical-align: top;
    margin-bottom: 20px !important;
}
.form-horizontal .form-checkbox-line label.text-left {
    text-align: left;
}
form#survey-form div h4 label {
    margin-right: 5px;
}
.answer-img-group > label.control-label {
    font-weight: 500;
}
.btn-delete {
    color: #d9534f;
    font-size: 15px;
    margin-right: 5px;
    vertical-align: middle;
    margin-top: 5px;
}
.btn-delete:hover {
    color: #B52A25;
}
button.btn-closed-survey[disabled] {
    background-color: #6F6F6F;
    border-color: #494949;
}
.surveys-list li {
    margin-bottom: 10px;
}
.surveys-list li hr {
    margin: 10px 0px;
}
.surveys-list li a.survey-link {
    font-size: 17px;
    margin-top: 5px;
}
.surveys-list li .survey-btns {
    margin-top: 10px;
}
/* --- navbar --- */
.navbar {
    background-color: white;
    border-color: LightSlateGray ;
}
.navbar-brand {
    padding: 1px 15px;
}
.navbar-collapse {
    font-size: 13px;
}
.navbar-inverse a > p.navbar-text {
    font-size: inherit;
    font-family: inherit;
    font-size-adjust: inherit;
    color: inherit;
}
.navbar-inverse .navbar-nav .dropdown-menu li a {
    color: #999;
}
.navbar-inverse .navbar-nav .dropdown-menu small a {
    font-size: 10px;
}
.navbar li a:hover, .dropdown-menu li a:hover, .navbar-inverse .navbar-nav .dropdown-menu li a:hover {
    background-color: transparent;
}
.navbar li.open a:hover {
    color: #999;
}
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #999;
}
.navbar-nav.nav-justified > li {
    float: none;
}
div.language-selector {
    margin-top: 3px;
}
div.language-selector button,
div.language-selector button:focus,
div.language-selector button:hover,
div.language-selector > button.dropdown-toggle.btn-default,
div.language-selector > button.dropdown-toggle.btn-default:focus,
div.language-selector > button.dropdown-toggle.btn-default:hover {
    border: 0px;
    background: none;
}
div.language-selector > .dropdown-menu > li .flag-container {
    margin: 3px 0px;
}
div.language-selector ul {
    min-width: inherit;
}
div.language-selector .flag-container {
    float: left;
    margin-right: 5px;
    height: 25px;
    width: 32px;
}
div.language-selector .caret {
    margin-top: 4px;
}
div.pagination-container {
    text-align: center;
}
div.pagination-container li.pagination-more-before a:before,
div.pagination-container li.pagination-more-after a:before {
    content: "...";
}
div.pagination-container li.pagination-more-before:hover,
div.pagination-container li.pagination-more-after:hover,
div.pagination-container li.pagination-more-before a:hover,
div.pagination-container li.pagination-more-after a:hover,
div.pagination-container li.pagination-more-before,
div.pagination-container li.pagination-more-after,
div.pagination-container li.pagination-more-before a,
div.pagination-container li.pagination-more-after a {
    cursor: default;
}
div.pagination-container li.pagination-more-before a,
div.pagination-container li.pagination-more-after a {
    border: none;
}
div.pagination-container li a {
    margin: 0px 2px;
}
div.pagination-container span.pagination-totals:before {
    content: "(";
}
div.pagination-container span.pagination-totals:after {
    content: ")";
}
div.pagination-container ul.pagination {
    margin-bottom: 5px;
}
div.pagination-container span.pagination-totals {
    font-size: 10px;
    color: grey;
}
.leaflet-bar a.text-button, .leaflet-bar a.text-button:hover {
    width: inherit;
    padding: 0px 4px;
}
form#position-update div#map, form#local-reg div#map {
    height: 400px;
    width: 100%;
    border: 3px double black;
    margin-bottom: 10px;
}
#menuLoggedIn > a {
    padding: 0px;
}
#menuLogin .dropdown-menu {
    padding: 5px;
    min-width: 190px;
}
.form-horizontal .form-group .form-group {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
/* Fix a small problem with popup messages over leaflet buttons */
.leaflet-bar a:last-of-type {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: none;
}

.videotuto-modal {
		margin-top: 60px;
}

/* --- Forms --- */
input {
	margin-bottom: 20px;
}

input[type="file"] {
    font-size: 0.8em !important;
    height: 30px !important;
    padding: 0 !important;
    border: 0px none;
    box-shadow: none;
    background-color: transparent;
}

.form-control,
.form-group .form-control {
	color: #A2C73A;
	font-size: 1.2em;
	height: 40px;
}

.has-error .form-control,
.has-error .form-group .form-control {
    color: #A94442;
}

.form-control:focus {
	border-color: #A2C73A;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(162, 199, 58, 0.6);
}

textarea {
	font-size: 1em !important;
	height: 100px !important;
}

div#signup-disclaimer input[type="checkbox"],
div.preferences-block input[type="checkbox"] {
	margin: 0px 10px 0px 0px;
	height: initial !important;
	vertical-align: middle;
}


/* --- Intro-Index --- */
#intro {
  text-align: center;
  background: url("/images/intro-map.jpg") no-repeat center top;
  background-color: #04254E;
}

.intro-front {
  position: relative;
  z-index: 9000;
  margin-bottom: -1px;
  border-bottom: 1px solid #004F71;
}

#intro-title {
	padding-right: 30px;
	padding-left: 30px;
}

#intro-title button {
	margin-top: 20px;
}

#intro-bar {
	background-color: #A2C73A;
	height: 72px;
	width: 100%;
	padding-top: 13px;
}

#intro-arrow {
	padding-top: 5px;
}

#intro-arrow a {
	font-size: 2em;
	color: white;
}

#intro-arrow a:hover {
	color: white;
}

#intro-access .visible-xs .btn {
	padding: 6px 12px;
}

#intro-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#intro-content > div {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
}

#lema {
	background-color: #004F71;
}

#lema p {
	color: white;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
	margin-top: 80px;
	margin-bottom: 0px;
}

#intro-title .social-btns {
    margin-top: 10px;
}

.social-btns .fb-like {
    margin-bottom: 5px;
}

.social-btns .twitter-follow-button-rendered {
    display: default;
    vertical-align: bottom;
}

.jumbotron p {
	font-size: 1.1em;
}

#lema .jumbotron {
	margin-top: 60px;
}

#marker-what-icon img {
	height: 20px;
}

#explore-icon {
	font-size: 4em;
	color: #A2C73A;
}

#como {
    padding-bottom: 0;
}

#galeria {
	background-color: #EBEBEB;
}

#galeria h3 {
	color: #A2C73A;
}
#galeria p {
	color: #004F71;
}

#know-more-surveys {
    margin-top: 20px;
}

#emapic-social-feed {
    margin-top: 0;
    padding-top: 0;
}


/* --- Navbar --- */
.navbar {
	height: 61px;
	padding: 10px;
	background-color: #FAFAFA;
	background-color: #004F71;
	border-bottom: solid 1px #EBEBEB;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	position: fixed;
	z-index: 8999;
}

.navbar .container {
	max-width: 1100px;
}

.navbar-inverse .navbar-toggle {
	margin-top: 5px;
	border: none;
}

.navbar-inverse .navbar-toggle:focus {
	background-color: #004F71;
}

.navbar-inverse .navbar-toggle:hover {
	background-color: #A2C73A;
}

.navbar-inverse .navbar-collapse {
	border-color: #EBEBEB;
}

#menu-navbar {
	background-color: #004F71;
}

#menu-navbar.container {
	padding-right: 0px;
	padding-left: 0px;
}

.navbar-brand img {
	height: 40px;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:focus {
	color: white;
	padding-top: 10px;
	font-size: 1.2em;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #A2C73A;
}

.navbar-inverse .navbar-nav button {
	margin-top: -7px;
	margin-bottom: -2px;
	min-width: 60px;
}

#navLogin {
	background-color: #004F71;
}

#navLogin button {
	margin-top: -4px;
	padding: 3px;
	font-size: 1em;
}

#navLogin button span {
	padding-left: 8px;
	padding-right: 5px;
}

.user-avatar-sm {
	height: 40px;
	width: 40px;
	background-color: white;
	padding: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

#menuLoggedIn ul {
	background-color: #A2C73A;
}

#menuLoggedIn li a {
	color: white;
}

#menuLoggedIn li a:hover {
	color: #607523;
}


/* --- Contents --- */
.content {
	min-height: 100%;
	min-height: calc(100% - 110px);
	padding-top: 80px;
	margin-bottom: 30px;
}

.input-block {
	padding: 15px 10px;
}


/* --- Survey Lists --- */
#list-filters ul {
	margin-bottom: 0;
}

#list-filters ul li {
	display: inline;
	padding-right: 25px;
	margin-right: 20px;
	font-size: 0.9em;
}

.list-complex-header {
    margin-bottom: 1em;
    margin-top: 2em;
}

.list-complex-header h2 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.search-div {
    text-align: right;
    display: flex;
}

.search-div > input {
    flex: 2;
    margin-right: 5px;
    min-width: 50px;
}

.order-div {
    margin-top: 5px;
}

.order-div > label {
    color: #A2C73A;
    font-size: 13px;
}

.order-div > .ui-widget *,
.order-selectmenu-menu .ui-menu-item {
    font-size: 15px;
}

.order-div .ui-selectmenu-button.ui-button {
    width: auto;
    padding: .2em .5em;
}

.list-complex-header .search-div > button,
.list-complex-header .search-div > input {
    margin-bottom: 0px;
}

span.tag-inline,
span.user-inline {
    font-style: italic;
}

.panel-default > .panel-heading {
    cursor: pointer;
}

.legal-versions-panel .panel-default > .panel-heading {
    cursor: default;
}

.survey-panel-header {
    margin-bottom: 25px;
}

.survey-panel-header .glyphicon {
    font-size: 16px;
}

.survey-panel-header .pull-right {
    padding-right: 5px;
}

.surveys-list div.panel-body {
    padding: 0 10px 10px;
}

.surveys-list li {
	margin-left: -40px;
}

.surveys-list hr {
	margin-left: -40px;
	margin-top: 30px;
}

.surveys-list li > div {
	margin-bottom: 10px;
}

.survey-list-thumbnail {
    border-radius: 4px;
    width: 256px;
    height: 144px;
    float:left;
    margin-right: 10px;
}

.answered-date, .survey-active-dates {
    color: #4D4D4D;
    cursor: default;
    font-size: 0.7em;
}

.answered-date {
    margin: 2px 2px 0 0;
    background-color: #EBEBEB;
}

.survey-active-dates {
    margin: 2px 0 0 2px;
    color: #5cb85c;
    background-color: #fff;
}

.survey-active-dates.survey-closed {
    color: #c9302c;
}

.panel-footer-with-author {
    border-top: solid 1px #ddd;
}

.panel-footer-with-author .panel-footer {
    min-height: 59px;
    padding-top: 8px;
    padding-bottom: 7px;
}

.survey-list-author {
    width: 100%;
    background-color: white;
}

.survey-list-author .avatar {
    background-color: white;
    margin-right: 15px;
    border-right: solid 1px #ddd;
    width: 83px;
    height: 83px;
    text-align: center;
    border-bottom-left-radius: 3px;
}

.survey-list-author .avatar > span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.survey-list-author .avatar img {
    vertical-align: middle;
    max-width: 75px;
    max-height: 75px;
    margin-left: -5px;
}

.survey-list-author .login {
    display: inline-block;
    padding-left: 2px;
    margin-left: -16px;
    background-color: white;
    white-space: nowrap;
    max-width: 80%;
    max-width: calc(100% - 83px);
    overflow-x: hidden;
    vertical-align: top;
}

#survey-descrip p {
    text-align: justify;
}

#survey-title {
	margin: 5px 10px 5px 0px;
}

.badge {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.badge.status {
	background-color: #CC1A1A;
	color: white;
	cursor: default;
}

.badge .glyphicon {
    margin-top: 0px;
}

.badge.counter {
    margin-top: 10px;
    font-size: 14px;
}

.glyphicon-tag {
	font-size: 0.7em;
	cursor: default;
}

.badge.tag {
    white-space: normal;
}

.surveys-list .badge.tag:focus,
.surveys-list .badge.tag:hover {
	background-color: #d2d2d2;
	color: #85A330;
}

.badge.tag,
.badge.tag.disabled:hover {
	background-color: #e6e6e6;
	color: #85A330;
}

.badge.tag.disabled:hover {
	cursor: default;
}

#survey-action-btns {
	margin-top: 10px;
}

#survey-action-btns button {
	padding-top: 5px;
}

.panel-footer {
	min-height: 60px;
}

.panel-footer div.pull-left:not(:nth-of-type(3)) button {
	margin-right: 10px;
}

.dropdown-menu.share-url {
	min-width: none;
    text-align: center;
	border: none;
	box-shadow: none;
	margin: 0;
    padding: 5px;
    background: grey;
    background: rgba(150, 150, 150, .5);
    z-index: 1100;
}

.dropdown-menu.share-url.addThis {
	min-width: 220px;
}

.dropdown-menu.share-url.addThis .addthis_inline_share_toolbox:not(:empty) ~ div {
    display: none;
}

.dropdown-menu.share-url.addThis .more-sharing {
    background-color: #FFFFFF;
    margin-top: 5px;
    border-radius: 5px;
}

.dropdown-menu.share-url.addThis .more-sharing a {
    color: #004F71;
}

.dropdown-menu.share-url.addThis .more-sharing a:hover,
.dropdown-menu.share-url.addThis .more-sharing a:focus,
.dropdown-menu.share-url.addThis .more-sharing a:active {
    color: #85A330;
}

#more-sharing-modal h3 {
    color: #FFFFFF;
    text-align: center;
}

#more-sharing-modal p,
#more-sharing-modal li {
    color: #d0d0d0;
}

#more-sharing-modal li {
    list-style: disc outside none;
}

#more-sharing-modal .modal-dialog {
    margin-top: 100px;
}

#more-sharing-modal .modal-content {
    background-color: #004F71;
}

#more-sharing-modal .modal-content a {
    color: #FFFFFF;
}

#more-sharing-modal .modal-content a:hover,
#more-sharing-modal .modal-content a:focus,
#more-sharing-modal .modal-content a:active {
    color: #ADD8E6;
}

#more-sharing-modal .modal-header button {
    color: white;
}

#more-sharing-modal .modal-footer button {
    margin-bottom: 5px;
    margin-left: 0px;
}

.share-url-box {
	background-color: #A2C73A;
	border: solid 1px #A2C73A;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font-size: 0.9em !important;
	color: white !important;
	min-width: 220px;
    margin: 0 0 5px;
    padding: 0px 6px;
}

.share-url-box p::-moz-selection,
.share-url-box::-moz-selection,
.share-url-box textarea::-moz-selection {
	color: #85A330;
	background-color: white;
}

.share-sq {
    border: medium none;
    border-radius: 4px;
    padding: 3px 4px 1px;
    font-size: 2em;
    vertical-align: middle;
}

.share-url .share-sq {
    margin-right: 2px;
}

.btn-facebook,
.share-sq.fa-facebook {
    background: rgba(0, 0, 0, 0) linear-gradient(#4c69ba, #3b55a0) repeat scroll 0 0;
    color: white;
}

.btn-facebook:hover,
.btn-facebook:focus,
.share-sq.fa-facebook:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(#5b7bd5, #4864b1) repeat scroll 0 0;
    color: white;
}

.share-sq.fa-twitter {
    background-color: #1b95e0;
    color: white;
}

.share-sq.fa-twitter:hover {
    background-color: #48a7e1;
    color: white;
}

.share-sq.fa-linkedin-in {
    background-color: #0077b5;
    color: white;
}

.share-sq.fa-linkedin-in:hover {
    background-color: #2d86b6;
    color: white;
}

.btn-google,
.share-sq.fa-google-plus-g {
    background-color: #db4437;
    color: white;
    font-size: 1.4em;
    padding: 7px 4px 6px;
}

.btn-google:hover,
.btn-google:focus,
.share-sq.fa-google-plus-g:hover {
    background-color: #dc6d63;
    color: white;
}
.btn-facebook,
.btn-google {
    font-size: 1em;
    padding: 6px 9px;
    display: inline-block;
}
.btn-facebook .fab,
.btn-google .fab {
    font-size: 1.3em;
    display: table-cell;
    padding-right: 5px;
}
.btn-facebook span:not(.fab),
.btn-google span:not(.fab) {
    display: table-cell;
    line-height: 22px;
    vertical-align: middle;
}


/* --- Profile --- */

#profile .btn-group-vertical {
	margin-bottom: 30px;
}

#profile .btn-section-active {
	background-color: #A2C73A;
	color: white;
	outline: none;
}

#profile .panel-body {
	margin: 20px 20px;
}

#profile label:first-letter {
    text-transform: capitalize
}

#avatarinput {
    max-width: 400px;
}

div.input-with-clear-btn {
    display: flex;
    align-items: center;
}

div.input-with-clear-btn input {
    flex: 1 1 auto;
}

div.input-with-clear-btn a.clear-input {
    margin-left: 5px;
    font-size: 20px;
    cursor: pointer;
}

div.input-with-clear-btn a.clear-input.disabled {
    flex: 0 0 auto;
    visibility: hidden;
}

.user-avatar {
	border: 1px solid #000000;
	margin-bottom: 10px;
	padding: 8px;
}

.avatar-wrapper {
    margin-bottom: 10px;
}

.avatar-wrapper,
.avatar-wrapper .user-avatar {
	max-width: 250px;
	max-height: 250px;
}

.avatar-wrapper .user-avatar {
    margin-bottom: 0;
}

#linked-accounts > div.col-xs-12,
#linked-accounts > div.col-xs-12 .col-xs-12 {
    padding: 0px 0px 5px;
}

#linked-accounts hr {
    border-top-style: double;
    border-top-color: #dddddd;
    border-top-width: 3px;
}

#linked-accounts .linked-account {
    padding: 5px 0px 0px !important;
    border-bottom: 1px dashed #dddddd;
}

#linked-accounts .btn {
    min-height: 37px;
}

/* --- Dashboard --- */
.dashboard-content {
	margin-top: 40px;
}

#dashboard-user-desc {
	margin-bottom: 20px;
}

#dashboard-user-desc h2 {
	margin-top: 30px;
}

#dashboard-user-desc p {
	font-size: 0.5em;
}

#dashboard-user-stats button {
	padding: 5px 5px;
	width: 80px;
	font-size: 2em;
	margin: 0 -5px 0 0;
}

#dashboard-user-stats p {
	font-size: 0.3em;
}

#btn-new-survey .glyphicon,
#dashboard-user-desc .glyphicon {
	font-size: 0.7em;
}

#btn-new-survey:hover {
	border-color: #A2C73A;
}

#dashboard-recent-list hr {
    margin-top: 5px;
    margin-bottom: 10px;
}


/* --- New-Edit-Survey --- */
.form-horizontal .form-group-sm .control-label {
    padding-top: 10px;
}
label.adi-opts-label {
	padding-top: 15px !important;
}

#question-selector.modal {
    z-index: 9001;
}

#question-selector div.modal-body > div {
    width: 100%;
}

#question-selector p.question-type-description {
    font-size: 0.85em;
}

#question-selector p.question-type-legend {
    font-size: 0.7em;
}

#question-selector h3 {
    margin-bottom: 5px;
}

#question-selector h3, #question-selector a[data-toggle="collapse"] > span {
    margin-top: 10px;
}

.form-control.question-type-item {
    float: none;
}

.question-type-item label {
    font-weight: normal;
}

.question-type-item p,
.question-type-item label {
    margin-bottom: 0px;
}

.btn-group-vertical > div.input-group:not(:first-child) {
    margin-top: -1px;
}

.btn-group-vertical > div.input-group:not(:first-child):not(:last-child) > span.input-group-addon,
.btn-group-vertical > div.input-group:not(:first-child):not(:last-child) > div.form-control {
    border-radius: 0;
}

.btn-group-vertical > div.input-group:first-child:not(:last-child) > span.input-group-addon {
    border-radius: 4px 0 0 0;
}

.btn-group-vertical > div.input-group:last-child:not(:first-child) > span.input-group-addon {
    border-radius: 0 0 0 4px;
}

.btn-group-vertical > div.input-group:first-child:not(:last-child) > div.form-control {
    border-radius: 0 4px 0 0;
}

.btn-group-vertical > div.input-group:last-child:not(:first-child) > div.form-control {
    border-radius: 0 0 4px 0;
}

#questions-section {
    padding: 0;
}

.answer-group .answer-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 75px;
    height: 75px;
    border: 1px solid black;
}

.question-group .question-handle,
.answer-group .answer-handle {
    color: #004f71;
    border: 1px solid #004f71;
    padding: 5px 5px 4px;
    cursor: grab;
}

.question-group .question-handle {
    margin: 0px 10px 0px 0px;
}

.answer-group .answer-handle {
    margin: 0px 0px 0px 7px;
}

.answer-group span,
.answer-group label {
    color: #004f71;
}

.answer-group .btn-danger span {
    color: #fff;
}

.question-group .question-handle.grabbing,
.answer-group .answer-handle.grabbing {
    cursor: grabbing;
}

.answer-group label.control-label > .control-sublabel,
#answer_other label.control-label > .control-sublabel,
.answer-img-group label.control-label > .control-sublabel {
    padding: 0;
}

.answer-group label.control-label,
#answer_other label.control-label,
.answer-img-group label.control-label {
    padding: 0 0 0 5px;
}

.answer-group label.control-label,
#answer_other label.control-label {
    text-align: left;
}

.answer-img-group label.control-label {
    text-align: right;
}

.answer-group > div.form-group > label button,
#answer_other > div.answer-group > div.form-group > label button {
    padding: 2px 6px;
}

.answer-group > div.form-group > label button span.glyphicon,
#answer_other > div.answer-group > div.form-group > label button span.glyphicon {
    font-size: 11px;
}

div.answer-group {
    padding: 0 !important;
}

#answer_other {
    margin-top: 10px;
}

.survey-form-btn {
    margin-bottom: 10px;
}

/* --- Login --- */
.access {
	padding: 15px 15px;
}

.access hr {
    border-color: #004f71;
    margin: 0px;
}

#access-signup-button {
	margin-bottom: 60px;
}

#remember-me {
    margin: 0;
    vertical-align: middle;
}

#remember-me-label {
    font-weight: normal;
    margin-left: 5px;
    color: #4d4d4d;
}

/* --- Signup --- */
.signup-subtitle {
	margin-bottom: 40px;
}

#register-step-1 .help-block {
	margin-bottom: 5px;
}

#register-step-2 .avatar-wrapper,
#register-step-3 #map {
	margin-top: 20px;
}

#register-step-4 button {
	margin-top: 40px;
}

/* --- Legal --- */
div.legal-text p, div.legal-text li {
	color: #4D4D4D;
}

div.legal-text ul > li {
    list-style: circle outside none;
}

div.legal-text ol > li {
    list-style: decimal;
}

.legal-logo {
    width: 60px;
}

.legal-versions-panel {
    margin-top: 40px;
}


/* --- Pagination --- */
.pagination li > a {
    color: #A2C73A;
}

.pagination li > a:hover {
    color: #607523;
    background-color: #F0F0F0;
    border-color: #A2C73A;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover {
    color: white;
    background-color: #A2C73A;
    border-color: #A2C73A;
}

.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover {
    background-color: #F0F0F0;
    cursor: default;
}

.pagination .glyphicon {
    font-size: 0.7em;
}

.pagination-totals {
	cursor: default;
}


/* --- Footer-Contacts --- */
#contacts {
	background-color: #A2C73A;
	padding-top: 30px;
	font-size: 0.9em;
	display: none;
}

#contacts li {
	padding-bottom: 0.6em;
}

#contacts li img {
    height: 14px;
}

#contacts a, #footer a {
	color: white;
}

#contacts a:hover, #footer a:hover {
	color: #607523;
}

#contacts a.disabled, #footer a.disabled {
	color: #85A330;
}

#contacts hr {
	color: black !important;
	margin-top: 0px;
	margin-bottom: 0px;
}

#footer {
	min-height: 70px;
	background-color: #A2C73A;
	padding-top: 20px;
	padding-bottom: 0px;
}

#footer .container > div {
	padding-bottom: 10px;
}

#footer-arrow span {
	top: 8px;
	opacity: 0.7;
}

#footer-emapic-desc img {
	margin-top: 12px !important;
}

#fb_link {
    margin-left: 4px;
}

#footer h5 {
	color: white;
}

#footer .logos img {
	height: 27px;
	padding: 0 2% 0 2%;
    margin-top: 7px;
	opacity: 0.8;
}

#footer .logos img:hover {
	opacity: 1;
}

@media screen and (max-device-width: 768px) {
    .answer-group label.control-label {
        text-align: left;
    }
}

#menu-navbar {
    float: right;
}

/* --- Styles for small screen devices --- */

.show-small {
    display: none;
}

@media screen and (max-device-width: 991px) {
    .content {
        min-height: calc(100% - 60px);
        padding-top: 30px;
    }
    .show-small {
        display: initial;
    }
    .hide-small {
        display: none;
    }
    .survey-list-author {
        font-size: 0.85em;
    }
    .survey-list-author .avatar {
        width: 63px;
        height: 80px;
    }
    .survey-list-author .avatar img {
        max-width: 55px;
    }
    .survey-list-author .login {
        margin-left: -11px;
        max-width: calc(100% - 63px);
    }
    .survey-list-author .avatar {
        margin-right: 10px;
    }
    .survey-list-thumbnail {
        width: 128px;
        height: 72px;
    }
    div.panel-footer {
        padding: 10px;
    }
    .badge.counter {
        font-size: 13px;
    }
    .share-sq {
        font-size: 3em;
        padding-bottom: 3px;
    }
    .share-sq.fa-google-plus-g {
        font-size: 2.1em;
        padding: 10px 4px 9px;
    }
}

@media screen and (max-device-width: 767px) {
    .navbar #menu-navbar {
        border: 1px solid #EBEBEB;
    }
}

/* --- Styles for very small screen devices --- */

.show-extrasmall {
    display: none;
}

@media screen and (max-device-width: 360px), screen and (max-device-height: 550px) {
    .show-extrasmall {
        display: initial;
    }
    .hide-extrasmall {
        display: none;
    }
    .navbar-brand {
        padding: 0;
    }
    .survey-list-author {
        font-size: 0.75em;
    }
    .survey-list-author .avatar {
        width: 48px;
        height: 77px;
    }
    .survey-list-author .avatar img {
        max-width: 40px;
    }
    .survey-list-author .login {
        margin-left: -6px;
        max-width: calc(100% - 48px);
    }
    .survey-list-author .avatar {
        margin-right: 5px;
    }
    div.panel-footer {
        padding: 5px;
    }
    .badge.counter {
        font-size: 12px;
    }
    .dropdown-menu.share-url {
        position: fixed;
        left: 50%;
        top: 50%;
        -ms-transform: translate(-50%, -50%);/* IE 9 */
        -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
        transform: translate(-50%, -50%);
        padding: 20px;
        background: rgba(150, 150, 150, 1);
    }
    .dropdown-menu.share-url input.share-url-box {
        margin-bottom: 20px;
    }
    .dropdown-menu.share-url.addThis .more-sharing {
        margin-top: 20px;
    }
}
